<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>尚硅谷会员注册页面</title>
    <base th:href="@{/}">
    <link type="text/css" rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/register.css" />
    <style type="text/css">
      .login_form {
        height: 420px;
        margin-top: 25px;
      }
      .message{
        font-size: 12px;
        color: red;
        margin: 2px 0;
      }
    </style>
  </head>
  <body>
    <div id="login_header">
      <a href="index.html">
        <img class="logo_img" alt="" src="static/img/logo.gif" />
      </a>
    </div>

    <div class="login_banner">
      <div class="register_form">
        <h1>注册尚硅谷会员</h1>
        <form th:action="@{/UserServlet(method='doRegist')}" method="post">
          <div class="form-item">
            <div>
              <label>用户名称:</label>
              <input v-model="user.username" name="username" type="text" placeholder="请输入用户名" @change="checkUsername()"/>
            </div>
            <span class="message" v-text="usernameError"></span>
          </div>
          <div class="form-item">
            <div>
              <label>用户密码:</label>
              <input v-model="user.password" name="password" type="password" placeholder="请输入密码" @change="checkPassword()"/>
            </div>
            <span class="message" v-text="passwordError"></span>
          </div>
          <div class="form-item">
            <div>
              <label>确认密码:</label>
              <input v-model="user.passwordConfirm" type="password" placeholder="请输入确认密码" @change="checkPasswordConfirm()"/>
            </div>
            <span class="message" v-text="passwordConfirmError"></span>
          </div>
          <div class="form-item">
            <div>
              <label>用户邮箱:</label>
              <input v-model="user.email" name="email" type="text" placeholder="请输入邮箱" @change="checkEmail()"/>
            </div>
            <span class="message" v-text="emailError"></span>
          </div>
          <div class="form-item">
            <div>
              <label>验证码:</label>
              <div class="verify">
                <input type="text" name="code" placeholder="请输入验证码" />
                <img @click="flushImg" :src="src" alt="" style="height: 40px; width: 98px;" />
              </div>
            </div>
            <span class="message" v-text="codeError"></span>
          </div>
          <button class="btn" @click="registUser">注册</button>
        </form>
      </div>
    </div>
    <div id="bottom">
      <span>
        尚硅谷书城.Copyright &copy;2015
      </span>
    </div>

    <script type="text/javascript" src="static/script/vue.js"></script>
    <script type="text/javascript" src="static/script/axios.min.js"></script>
    <script type="text/javascript">
      var vue = new Vue({
        el:".login_banner",
        data:{
          src:"kaptcha.jpg",
          user:{
            username:"[[${param.username}]]",
            password:"",
            passwordConfirm:"",
            email:"[[${param.email}]]"
          },
          usernameError:"[[${usernameError}]]",
          passwordError:"",
          passwordConfirmError:"",
          emailError:"",
          codeError:"[[${codeError}]]",
          flag:true
        },
        methods:{
          flushImg(){
            this.src = "kaptcha.jpg?x="+Math.random();
          },
          checkUsername(){
            var reg_username = /^\w{6,15}$/;
            if(!reg_username.test(this.user.username)){
              this.usernameError = "用户名为6~15位的数字字母下划线";
              this.flag = false;
            }else{
              //通过ajax验证用户名是否可用
              axios.post("UserServlet?method=checkUsername&username="+this.user.username).then(response=>{
                if(response.data.flag){
                  //表示用户名可用
                  this.usernameError = "";
                }else{
                  //表示用户名不可用
                  this.usernameError = response.data.message;
                  this.flag = false;
                }
              });
            }
          },
          checkPassword(){
            var reg_password = /^[a-zA-Z_]\w{5,17}$/;
            if(!reg_password.test(this.user.password)){
              this.passwordError = "密码为6~18位的数字字母下划线，不能以数字开头";
              this.flag = false;
            }else{
              this.passwordError = "";
            }
          },
          checkPasswordConfirm(){
            if(this.user.passwordConfirm == ""){
              this.passwordConfirmError = "请再次输入密码";
              this.flag = false;
            }else{
              if(this.user.password != this.user.passwordConfirm){
                this.passwordConfirmError = "两次密码输入不一致";
                this.flag = false;
              }else{
                this.passwordConfirmError = "";
              }
            }
          },
          checkEmail(){
            var reg_email = /^\w+@\w+\.(com|cn|net)$/;
            if(!reg_email.test(this.user.email)){
              this.emailError = "邮箱地址格式不正确";
              this.flag = false;
            }else{
              this.emailError = "";
            }
          },
          registUser(){
            this.flag = true;
            this.checkUsername();
            this.checkPassword();
            this.checkPasswordConfirm();
            this.checkEmail();
            if(!this.flag){
              event.preventDefault();
            }
          }
        }
      });
    </script>
  </body>
</html>
