<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公共页面</title>
</head>
<body>
    <div th:fragment="manager_head">
        <a th:href="@{/BookServlet(method='getAllBook')}" class="order">图书管理</a>
        <a href="#" class="destory">订单管理</a>
        <a th:href="@{/}" class="gohome">返回商城</a>
    </div>

    <div th:fragment="client_head" >
        <div th:if="${session.user != null}" class="header-right">
            <h3>欢迎<span th:text="${session.user.username}">张总</span>光临尚硅谷书城</h3>
            <div class="destory"><a href="../client/order_clent.html">我的订单</a></div>
            <div class="destory"><a th:href="@{UserServlet(method='logout')}">注销</a></div>
            <div class="destory">
                <a th:href="@{/}">返回</a>
            </div>
        </div>
        <div th:if="${session.user == null}" class="header-right">
            <div class="destory"><a href="../client/order_clent.html">购物车</a></div>
            <div class="destory"><a href="../index.html">我的订单</a></div>
            <div class="destory">
                <a href="">返回</a>
            </div>
        </div>
    </div>

</body>
</html>